@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

h2 {
    color: darkslateblue;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.25rem;
}